<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1> Add Tamas </h1>
      </div>
      <form action="/tamas" method="post">
        <label for="new-name">Add a Tama Toy</label>
        <input id="new-name" name="new-name" type="text" class="form-control" required>
        <button class="btn btn-info" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
